@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #ffffff;
  --secondary: #D9D9D9;
  --third: #A4A4A4;

  --auth-bg: #DDDCDC;
  --auth-modal-bg: #D9D9D9;

  --font-display: "Outfit"
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-third: var(--third);

  --color-auth-bg: var(--auth-bg);
  --color-auth-modal-bg: var(--auth-modal-bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  font-family: var(--font-display);
}
